*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}

:root {
    --primary-color: #222120;
    --secondary-color: #F8F3ED;
    --gray: #FAF5EF;
    --primary-font: 'DM Sans';
    --secondary-font: 'Prata';
}

html {
  font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.font-heading {
  font-family: var(--secondary-font);
  font-weight: 400;
}

.header {
  background-color: var(--primary-color);
  margin-bottom: 26rem;

  &-top {
    padding: 3rem 0;
  }

  &-top .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  &-contact {
    font-size: 2.4em;
    line-height: 3.4rem;
    color: white;
  }

  &-main {
    display: flex;
    align-items: center;
    padding-top: 15.5rem;
    gap: 3.2rem;
  }

  &-content {
    width: 100%;
    max-width: 725px;
  }

  &-heading {
    font-size: 8.2rem;
    line-height: 1;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 6.8rem;
    
    &-child {
      opacity: 0;
    }

    & > span {
      display: block;
    }
  }

  &-info {
    width: 100%;
    max-width: 40.7rem;
    margin-left: auto;
    margin-right: 10.8rem;
  }

  &-text {
    font-size: 2rem;
    color: white;
    margin-top: 4.7rem;
    opacity: 0.6;
  }

  &-img {
    transform: translate(0, 7.8rem);
  }
}

.menu {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;

  &-link {
    text-decoration: none;
    color: var(--gray);
    opacity: 0.4;
  }
}


// About

.about {
  padding-bottom: 15rem;

  &-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11rem;
  }

  &-heading {
    font-size: 7.2rem;
    line-height: calc(76 / 72);
    max-width: 388px;
    width: 100%;
    hyphens: auto;
    letter-spacing: -0.5px;
  }

  &-desc {
    font-size: 2.4rem;
    line-height: 3.4rem;
    max-width: 638px;
    width: 100%;
    opacity: .7;
  }

  &-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 14rem;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: auto;
    width: 100%;
    max-width: 51.3rem;

    &-img {
      padding: 0 4rem;
      color: var(--primary-color)
    }
  }

  &-img {
    width: 100%;
    max-width: 616px;
  }

  &-text {
    font-size: 5.2rem;
    line-height: 6.1rem;
  }
}

// Project

.project {
  &-img {
    width: 1445px;
    margin: 0 auto;
    margin-bottom: 12rem;
  }

  &-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
  }

  &-heading {
    font-size: 7rem;
    line-height: 7.6rem;
  }

  &-link {
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--primary-color);
    text-decoration: underline;
    letter-spacing: -0.02rem;
  }

  &-item {
    position: relative;
    height: 71.2rem;
  }

  &-image {
    height: 100%;
  }

  &-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-info {
    position: absolute;
    bottom: 6.5rem;
  }

  &-name {
    font-size: 5rem;
    line-height: 6.2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }

  &-views {
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    color: var(--secondary-color);
    text-decoration: underline;
  }
}


// Designers

.designers {
  background-color: var(--primary-color);
  height: 862px;
  margin-bottom: 18rem;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16rem;
    gap: 14rem;
  }

  &-right {
    width: 100%;
    max-width: 61.6rem;
  }

  &-left {
    width: 100%;
    max-width: 50.8rem;
  }

  &-header {
    font-size: 7rem;
    line-height: 7.6rem;
    color: var(--secondary-color);
    font-weight: 400;
    margin-bottom: 3rem;
  }

  &-text {
    color: var(--secondary-color);
    font-size: 2.4rem;
    line-height: 3.4rem;
    opacity: 0.7;
    margin-bottom: 2.5rem;
  }

  &-text-1 {
    color: var(--secondary-color);
    font-size: 2.4rem;
    line-height: 3.4rem;
    opacity: 0.7;
    margin-bottom: 4rem;
  }

  &-link {
    font-size: 24px;
    line-height: calc(34 / 24);
    color: var(--secondary-color);
    letter-spacing: -0.02em;
    text-decoration: underline;
  }
}

// Acticles

.acticles {
  margin-bottom: 18rem;

  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7.2rem;
  }

  &-title {
    font-weight: 400;
    font-size: 7rem;
    line-height: 7.6rem;
    color: inherit;
    margin-bottom: 5rem;
  }

  &-link {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    color: inherit;
    margin-bottom: 7rem;
  }

  &-content {
    display: flex;
    gap: 3.2rem;
    flex-direction: row;
  }

  &-item {
    position: relative;
    width: 100%;
    max-width: 61.6rem;
  }

  &-img {
    margin-bottom: 2.9rem;
  }

  &-desc {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 3.5rem;
  }

  &-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8rem;
  }

  &-line {
    margin-bottom: 2rem;
    opacity: 0.3;
    border: 1px solid #7C9097;
  }

  &-read {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    color: inherit;
  }

  &-time {
    font-size: 1.6rem;
    line-height: 3rem;
    opacity: 0.6;
    color: inherit;
  }
}